# issuer.isso = cookie token from UI (browser)
# issuer.oidc = bearer token from API (header)
# issuer.pesys = bearer token from other places (servicebruker) (header)

#AZURE_APP_WELL_KNOWN_URL: https://login.microsoftonline.com/966ac572-f5b7-4bbe-aa88-c76419c0f851/v2.0/.well-known/openid-configuration
no.nav.security.jwt:
  issuer:
    aad:
      discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
      accepted_audience: ${AZURE_APP_CLIENT_ID}
  client:
    registration:
      common-auth: &auth
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      prefill-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PREFILL_CLIENT_ID}/.default
      kodeverk-credentials:
        <<: *auth
        scope: api://${AZURE_APP_KODEVERK_CLIENT_ID}/.default
      dokarkiv-credentials:
        <<: *auth
        scope: api://${AZURE_APP_DOKARKIV_CLIENT_ID}/.default
      pdl-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PDL_CLIENT_ID}/.default
      eux-credentials:
        <<: *auth
        scope: api://${AZURE_APP_EUX_CLIENT_ID}/.default
      saf-credentials:
        <<: *auth
        scope: api://${AZURE_APP_SAF_CLIENT_ID}/.default
      pensjon-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PEN_CLIENT_ID}/.default

METRICS_REQUESTFILTER_ENABLE: true

management:
  endpoints:
    metrics:
      enabled: true
    web:
      exposure:
        include: info, health, metrics, prometheus
    export:
      prometheus:
        enabled: true
    prometheus:
      enabled: true

spring:
  metrics:
    web:
      server:
        auto-time-requests: true

#Embedded tomcat
server:
  servlet:
    session:
      timeout: '120s'
  error:
    include-message: always

kafka:
  statistikk:
    topic: ${KAFKA_STATISTIKK_TOPICNAME}
  security.protocol: SSL
